###############################################################################
# Clocks
###############################################################################
LOCATE COMP "clk48" SITE A9;
IOBUF PORT "clk48" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk48" 48 MHZ;

###############################################################################
# LEDs
###############################################################################
LOCATE COMP "rgb_led_r" SITE K4;
IOBUF PORT "rgb_led_r" IO_TYPE=LVCMOS33;

LOCATE COMP "rgb_led_g" SITE M3;
IOBUF PORT "rgb_led_g" IO_TYPE=LVCMOS33;

LOCATE COMP "rgb_led_b" SITE J3;
IOBUF PORT "rgb_led_b" IO_TYPE=LVCMOS33;

###############################################################################
# DDR3
###############################################################################
LOCATE COMP "ddram_a[0]" SITE C4;
IOBUF PORT "ddram_a[0]" SLEWRATE=FAST IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_a[1]" SITE D2;
IOBUF PORT "ddram_a[1]" SLEWRATE=FAST IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_a[2]" SITE D3;
IOBUF PORT "ddram_a[2]" SLEWRATE=FAST IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_a[3]" SITE A3;
IOBUF PORT "ddram_a[3]" SLEWRATE=FAST IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_a[4]" SITE A4;
IOBUF PORT "ddram_a[4]" SLEWRATE=FAST IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_a[5]" SITE D4;
IOBUF PORT "ddram_a[5]" SLEWRATE=FAST IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_a[6]" SITE C3;
IOBUF PORT "ddram_a[6]" SLEWRATE=FAST IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_a[7]" SITE B2;
IOBUF PORT "ddram_a[7]" SLEWRATE=FAST IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_a[8]" SITE B1;
IOBUF PORT "ddram_a[8]" SLEWRATE=FAST IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_a[9]" SITE D1;
IOBUF PORT "ddram_a[9]" SLEWRATE=FAST IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_a[10]" SITE A7;
IOBUF PORT "ddram_a[10]" SLEWRATE=FAST IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_a[11]" SITE C2;
IOBUF PORT "ddram_a[11]" SLEWRATE=FAST IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_a[12]" SITE B6;
IOBUF PORT "ddram_a[12]" SLEWRATE=FAST IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_a[13]" SITE C1;
IOBUF PORT "ddram_a[13]" SLEWRATE=FAST IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_a[14]" SITE A2;
IOBUF PORT "ddram_a[14]" SLEWRATE=FAST IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_a[15]" SITE C7;
IOBUF PORT "ddram_a[15]" SLEWRATE=FAST IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_ba[0]" SITE D6;
IOBUF PORT "ddram_ba[0]" SLEWRATE=FAST IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_ba[1]" SITE B7;
IOBUF PORT "ddram_ba[1]" SLEWRATE=FAST IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_ba[2]" SITE A6;
IOBUF PORT "ddram_ba[2]" SLEWRATE=FAST IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_ras_n" SITE C12;
IOBUF PORT "ddram_ras_n" SLEWRATE=FAST IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_cas_n" SITE D13;
IOBUF PORT "ddram_cas_n" SLEWRATE=FAST IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_we_n" SITE B12;
IOBUF PORT "ddram_we_n" SLEWRATE=FAST IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_cs_n" SITE A12;
IOBUF PORT "ddram_cs_n" SLEWRATE=FAST IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_dm[0]" SITE D16;
IOBUF PORT "ddram_dm[0]" SLEWRATE=FAST IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_dm[1]" SITE G16;
IOBUF PORT "ddram_dm[1]" SLEWRATE=FAST IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_dq[0]" SITE C17;
IOBUF PORT "ddram_dq[0]" SLEWRATE=FAST IO_TYPE=SSTL135_I TERMINATION=75;

LOCATE COMP "ddram_dq[1]" SITE D15;
IOBUF PORT "ddram_dq[1]" SLEWRATE=FAST IO_TYPE=SSTL135_I TERMINATION=75;

LOCATE COMP "ddram_dq[2]" SITE B17;
IOBUF PORT "ddram_dq[2]" SLEWRATE=FAST IO_TYPE=SSTL135_I TERMINATION=75;

LOCATE COMP "ddram_dq[3]" SITE C16;
IOBUF PORT "ddram_dq[3]" SLEWRATE=FAST IO_TYPE=SSTL135_I TERMINATION=75;

LOCATE COMP "ddram_dq[4]" SITE A15;
IOBUF PORT "ddram_dq[4]" SLEWRATE=FAST IO_TYPE=SSTL135_I TERMINATION=75;

LOCATE COMP "ddram_dq[5]" SITE B13;
IOBUF PORT "ddram_dq[5]" SLEWRATE=FAST IO_TYPE=SSTL135_I TERMINATION=75;

LOCATE COMP "ddram_dq[6]" SITE A17;
IOBUF PORT "ddram_dq[6]" SLEWRATE=FAST IO_TYPE=SSTL135_I TERMINATION=75;

LOCATE COMP "ddram_dq[7]" SITE A13;
IOBUF PORT "ddram_dq[7]" SLEWRATE=FAST IO_TYPE=SSTL135_I TERMINATION=75;

LOCATE COMP "ddram_dq[8]" SITE F17;
IOBUF PORT "ddram_dq[8]" SLEWRATE=FAST IO_TYPE=SSTL135_I TERMINATION=75;

LOCATE COMP "ddram_dq[9]" SITE F16;
IOBUF PORT "ddram_dq[9]" SLEWRATE=FAST IO_TYPE=SSTL135_I TERMINATION=75;

LOCATE COMP "ddram_dq[10]" SITE G15;
IOBUF PORT "ddram_dq[10]" SLEWRATE=FAST IO_TYPE=SSTL135_I TERMINATION=75;

LOCATE COMP "ddram_dq[11]" SITE F15;
IOBUF PORT "ddram_dq[11]" SLEWRATE=FAST IO_TYPE=SSTL135_I TERMINATION=75;

LOCATE COMP "ddram_dq[12]" SITE J16;
IOBUF PORT "ddram_dq[12]" SLEWRATE=FAST IO_TYPE=SSTL135_I TERMINATION=75;

LOCATE COMP "ddram_dq[13]" SITE C18;
IOBUF PORT "ddram_dq[13]" SLEWRATE=FAST IO_TYPE=SSTL135_I TERMINATION=75;

LOCATE COMP "ddram_dq[14]" SITE H16;
IOBUF PORT "ddram_dq[14]" SLEWRATE=FAST IO_TYPE=SSTL135_I TERMINATION=75;

LOCATE COMP "ddram_dq[15]" SITE F18;
IOBUF PORT "ddram_dq[15]" SLEWRATE=FAST IO_TYPE=SSTL135_I TERMINATION=75;

LOCATE COMP "ddram_dqs_p[0]" SITE B15;
IOBUF PORT "ddram_dqs_p[0]" SLEWRATE=FAST IO_TYPE=SSTL135D_I TERMINATION=OFF DIFFRESISTOR=100;

LOCATE COMP "ddram_dqs_p[1]" SITE G18;
IOBUF PORT "ddram_dqs_p[1]" SLEWRATE=FAST IO_TYPE=SSTL135D_I TERMINATION=OFF DIFFRESISTOR=100;

LOCATE COMP "ddram_clk_p" SITE J18;
IOBUF PORT "ddram_clk_p" SLEWRATE=FAST IO_TYPE=SSTL135D_I;

LOCATE COMP "ddram_cke" SITE D18;
IOBUF PORT "ddram_cke" SLEWRATE=FAST IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_odt" SITE C13;
IOBUF PORT "ddram_odt" SLEWRATE=FAST IO_TYPE=SSTL135_I;

LOCATE COMP "ddram_reset_n" SITE L18;
IOBUF PORT "ddram_reset_n" SLEWRATE=FAST IO_TYPE=SSTL135_I;
